<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="https://library.kissclipart.com/20180921/oge/kissclipart-people-laughing-icon-clipart-computer-icons-laught-d408c98c50877e66.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
    </div> 
    {{>footer}}
</body>

</html>